<%- include("partials/header") %>
    <form action="" method="post">
        <label for="postTitle">Title</label><br>
        <input type="text" id="postTitle" name="postTitle"><br>
        <label for="postText">Text</label><br>
        <textarea id="postText" name="postText"></textarea><br>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
<%- include("partials/footer") %>